*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
body {
	font-size: 16px;
	background-color: black;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	background-color: black;
}
.header-container {
	margin: 0 auto;
	display: flex;
	padding-left: 120px;
	align-items: center;
	justify-content: space-between;
	min-height: 55px;
}
.lable {
	font-family: 'Syne', sans-serif;
	font-size: 25px;
	color: white;
	text-decoration: none;
}
.menu__link {
	color: white;
	text-decoration: none;
	list-style: none;
	padding-right: 30px;
}
.menu__list {
	list-style-type: none;
}
@media (min-width: 767px) {
	.menu__list {
		display: flex;
		align-items: center;
	}
	.menu__list > li {
		padding: 10px 0;
	}
	.search {
		display: block;
	}
}
.logo {
	margin-top: 125px;
	margin-bottom: 30px;
}
.search-and-featured-track-container {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 840px;
	margin: 0 auto;
}
.search__area {
	width: 840px;
	height: 55px;
	padding-left: 25px;
	padding-right: 100px;
	letter-spacing: 2px;
	font-size: 18px;
	border-radius: 7px;
}
.search__button {
	position: absolute;
	width: 70px;
	height: 35px;
	top: 10px;
	right: 15px;
	border-radius: 3px;
	background-color: #c4c4c4;
	font-weight: 600;
	cursor: pointer;
}
.featured-track {
	display: flex;
	flex-direction: row;
}
.featured-track__container{
	margin-top: 30px;
	display: flex;
	flex-direction: row;
}
.featured-track__cover {
	height: 250px;
	width: 250px;
	border-radius: 12px;
}
.featured-track__cover img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 12px;
}
.featured-track__lable {
	padding-left: 20px;
	padding-top: 10px;
	font-weight: 700;
	text-align: left;
}
.featured-track__name {
	font-family: 'Syne', sans-serif;
	font-size: 48px;
	padding-top: 10px;
	letter-spacing: 2px;
}
.button-block {
	display: flex;
	flex-direction: row;
}
.featured-track__button-block{
	margin-top: 10px;
}
.button-buy {
	width: 80px;
	height: 39px;
	border-radius: 3px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.button-buy img {
	height: 20px;
	width: 20px;
}
.button-download {
	width: 39px;
	height: 39px;
	border-radius: 3px;
	background-color: #2b2b2b;
	cursor: pointer;
}
.featured-track__button-block__button-download{
	margin-left: 10px;
}
.featured-track__button-block__button-share{
	margin-left: 10px;
}
.button-share {
	width: 39px;
	height: 39px;
	border-radius: 3px;
	background-color: #2b2b2b;
	cursor: pointer;
}
.equalizer {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-top: 25px;
	height: 80px;
	width: 570px;
	position: relative;
}
.bar {
	display: inline-block;
	width: 5px;
	background-color: white;
	margin: 0 1rem;
}
.featured-track__button-play {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	position: absolute;
	margin: 85px;
	padding: 5px 0 0 10px;
	cursor: pointer;
}
.featured-track__button-play:hover {
	background-color: #dfdfdf;
}
#canvas1 {
	width: 100%;
	height: 100%;
}
.main-playlist{
	display: flex;
	flex-direction: column;
}
.playlist__container {
	max-width: 1114px;
	padding-top: 40px;
	margin: 0 auto;
}
.playlist__basis {
	list-style: none;
}
.playlist__li {
	display: flex;
	flex-direction: row;
	font-weight: 800;
	font-size: 14px;
	opacity: 0.65;
	text-align: left;
	margin-bottom: 10px;
}
.playlist__title {
	width: 40%;
}
.playlist__time {
	width: 8%;
}
.playlist__bpm {
	width: 5%;
}
.playlist__tags {
	width: 23.5%;
}
.playlist__item {
	display: flex;
	flex-direction: row;
	height: 65px;
	font-size: 16px;
	font-weight: 600;
	align-items: center;
	margin-bottom: 10px;
	position: relative;
	cursor: pointer;
	text-align: left;
}
.playlist__item__icon-name {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 40%;
}
.playlist__item__track-icon {
	height: 65px;
	width: 65px;
}
.playlist__item__track-icon img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 4px;
}
.playlist__item__track-name {
	padding-left: 25px;
	padding-right: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.playlist__item__track-time {
	width: 8%;
}
.playlist__item__track-bpm {
	width: 5%;
}
.playlist__item__track-tags {
	width: 23.5%;
	display: flex;
	flex-direction: row;
}
.track-tags__tag {
	margin-right: 10px;
	padding: 0 15px;
	background-color: #2b2b2b;
	height: 45px;
	max-width: 150px;
	border-radius: 25px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 700;
}
.playlist__item__track-sale {
	display: flex;
	flex-direction: row;
	margin-left: auto;
}
.playlist__item__track-sale .button-buy {
	margin-left: 10px;
	width: 100px;
	height: 45px;
}
.playlist__item__track-sale .button-share {
	width: 45px;
	height: 45px;
	margin-left: 10px;
}
.playlist__item__track-sale .button-download {
	width: 45px;
	height: 45px;
}
.playlist {
	margin-bottom: 10px;
}
.playlist__button__all_track {
	align-items: center;
	width: 150px;
	height: 50px;
	margin: 0 auto;
	border-radius: 3px;
	margin-bottom: 40px;
	font-weight: 600;
	cursor: pointer;
}
.licensing-info {
	background-color: #111111;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title{
	font-size: 24px;
	font-weight: 700;}
.licensing-info__title {
	margin: 0 auto;
	margin-top: 40px;
}
.licensing-info__container {
	display: flex;
	flex-direction: row;
	width: 1114px;
	justify-content: space-between;
}
.licensing-info__title {
	font-weight: bolder;
	line-height: 45px;
}
.licensing-info__price {
	font-size: 48px;
	font-weight: 800;
	line-height: 59px;
}
.licensing-info__file-info {
	font-size: 14px;
	font-weight: 800;
	line-height: 35px;
}
.licensing-info__text {
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.02em;
	word-spacing: -0.05em;
}
.licensing-info__box {
	margin-top: 80px;
	max-width: 16.15%;
	display: flex;
	flex-direction: column;
	list-style-position: inside;
	height: 425px;
	position: relative;
}
.licensing-info__popular {
	margin-top: 40px;
	margin-bottom: 70px;
	padding-top: 40px;
	max-width: 21%;
	display: flex;
	flex-direction: column;
	list-style-position: inside;
	background-color: white;
	color: black;
	align-items: center;
	height: 535px;
	position: relative;
	border-radius: 4px;
}
.licensing-info__popular .licensing-info__button {
	background-color: black;
	color: white;
	width: 75%;
}
.licensing-info__popular .text_info {
	letter-spacing: 0;
	word-spacing: 0;
}

.licensing-info__button {
	align-items: center;
	width: 100%;
	height: 40px;
	border-radius: 3px;
	margin-bottom: 40px;
	font-weight: 600;
	cursor: pointer;
	position: absolute;
	bottom: 0;
}
.licensing-info__price-exclusive {
	letter-spacing: -0.1em;
	word-spacing: -0.05em;
	font-size: 25px;
	white-space: nowrap;
	font-weight: 700;
	line-height: 55px;
	transform: scaleY(1.3);
}
.licensing-info__popular-label {
	position: absolute;
	top: 15px;
	font-weight: bolder;
}
.licensing-info__popular-label img {
	padding-right: 3px;
}
.contact {
	display: flex;
	flex-direction: column;
	max-width: 30vw;
	margin: 0 auto;
	margin-top: 160px;
}
.contact__input-informaition {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
}
.contact__first_string {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 40px;
}
.input-name {
	width: 47%;
	border: none;
	border-bottom: 1px solid white;
	background-color: transparent;
	color: inherit;
	outline: none;
}
.input-email {
	width: 47%;
	border: none;
	border-bottom: 1px solid white;
	background-color: transparent;
	color: inherit;
	outline: none;
}
.input-subject {
	margin-top: 40px;
	border: none;
	border-bottom: 1px solid white;
	background-color: transparent;
	color: inherit;
	outline: none;
}
.input-message {
	margin-top: 40px;
	border: none;
	border-bottom: 1px solid white;
	background-color: transparent;
	color: inherit;
	outline: none;
}
.contact__submit-button {
	margin-top: 40px;
	width: 120px;
	height: 45px;
	border-radius: 3px;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	position: absolute;
	right: 0;
}
.contact__button {
	position: relative;
	margin-bottom: 250px;
}
footer {
	background-color: #111111;
	height: 300px;
	padding: 60px 0 90px;
}
.footer__container {
	display: flex;
	flex-direction: row;
	max-width: 1114px;
	margin: 0 auto;
	height: 100%;
	justify-content: space-between;
}
.footer__logo {
	width: 25%;
	display: flex;
}
.footer__logo span{
	padding-left: 7px;
}
.footer__link {
	width: 30vw;
	display: flex;
}
.footer__menu {
	list-style-type: none;
	text-align: left;
	font-size: 15px;
	letter-spacing: -0.05em;
	padding-right: 80px;
	padding-top: 15px;
}
.footer__menu li {
	padding-bottom: 2.5vh;
}
.footer__social-media {
	width: 25%;
	display: flex;
	justify-content: flex-end;
}
.footer__social-media a {
	padding-left: 12px;
}
a {
	text-decoration: none;
	color: white;
}
