@import "null_style";
@import "style_media";
%ContactInput{
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: inherit;
  outline: none;
  font-weight: bold;
}
%BorderLink{
  border-left-width: 1px ;
  border-left-style: solid;
  border-color: rgba(117, 117, 117, 0.2);;
}
.max-layout-width {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 1114px;
  padding: 0;
}

a{color: white;}

body{
  background-color:black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: black;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 65px;

  &__lable {
    padding-left: 120px;
  }

}

.lable {
  font-family: 'Syne', sans-serif;
  font-size: 25px;
  color: white;
}

.beats{
  margin-top: 100px;
  & .search__area{
    text-align: center;
  }
}

.menu {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
    align-items: center;
  }

  &__buy-log-user{
    display: flex;
    align-items: center;
  }

  &__link {
    padding: 0 15px;
    font-size: 14px;
    font-weight: 600;
  }
}
.link-buy{
  display:flex;
  justify-content: center;
  height: 65px;
  align-items: center;
  padding: 0 20px;
  @extend %BorderLink;
  a.menu__link {
    padding: 0 8px;
  }
}
.link-login{
  display:flex;
  justify-content: center;
  height: 65px;
  align-items: center;
  padding: 0 15px;
  @extend %BorderLink;
  a.menu__link {
    padding: 0 8px;
  }
}
.logo {
  margin-top: 125px;
  margin-bottom: 30px;
}

.search-and-featured-track-container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 840px;
  margin: 0 auto;
}

.beats-lable{
  margin-top:100px ;
  font-weight: 900;
  font-size: 48px;
}

.search {
  display: block;
  &__container{
    width: 80%;
    margin: 0 auto;
  }
  &__area {
    width: 100%;
    height: 60px;
    padding-left: 25px;
    padding-right: 100px;
    letter-spacing: 2px;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 600;
  }

  &__button {
    position: absolute;
    width: 80px;
    height: 45px;
    top: 7.5px;
    right: 7.5px;
    border-radius: 2px;
    background-color: #cccccc;
    font-weight: 600;
    cursor: pointer;
  }
  }
.featured-track {
  display: flex;
  flex-direction: row;

  &__container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
  }

  &__cover {
    height: 250px;
    width: 250px;
    border-radius: 12px;
  }

  &__cover img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  &__button-play {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    margin: 85px;
    padding: 5px 0 0 10px;
    cursor: pointer;
  }

  &__lable {
    padding-left: 20px;
    padding-top: 10px;
    font-weight: 700;
    text-align: left;
  }

  &__name {
    font-family: 'Syne', sans-serif;
    font-size: 48px;
    padding-top: 10px;
    letter-spacing: 2px;
  }

  &__button-block {
    margin-top: 10px;
    &__button-buy {
    }

    &__button-download {
      margin-left: 10px;
    }

    &__button-share {
      margin-left: 10px;
    }
  }
}

#canvas1{
  width: 100%;
  height: 100%;
}

.button-block {
  display: flex;
  flex-direction: row;
}

.button-buy {
  width: 80px;
  height: 39px;
  border-radius: 3px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  & img{
    height: 20px;
    width: 20px;
  }
}

.button-download {
  width: 39px;
  height: 39px;
  border-radius: 3px;
  background-color: #2b2b2b;
}

.button-share {
  width: 39px;
  height: 39px;
  border-radius: 3px;
  background-color: #2b2b2b;
}

.equalizer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 25px;
  height: 90px;
  width: 570px;
  position: relative;
}

.playlist {
  margin-bottom: 10px;
  &__container {
    max-width: 1114px;
    padding-top: 40px;
    margin: 0 auto;
  }

  &__basis {list-style: none;}

  &__li {
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: 14px;
    opacity: 0.65;
    text-align: left;
    margin-bottom: 10px;
  }
  &__title {width: 40%;}

  &__time {width: 8%;}

  &__bpm {width: 5%;}

  &__tags {width: 23.5%;}

  &__sale {}

  &__item {
    display: flex;
    flex-direction: row;
    height: 65px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    &__icon-name {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 40%;
    }

    &__track-icon {
      height: 65px;
      width: 65px;

      & img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }

    &__track-name {
      padding-left: 25px;
      padding-right: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__track-time {width: 8%;}

    &__track-bpm {width: 5%;}

    &__track-tags {
      width: 23.5%;
      display: flex;
      flex-direction: row;
    }
    &__track-sale {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      & .button-buy{
        margin-left: 10px;
        width: 100px;
        height: 45px;
      }

      & .button-share{
        width: 45px;
        height: 45px;
        margin-left: 10px;
      }

      & .button-download{
        width: 45px;
        height: 45px;
      }
    }
  }
  &__button-all-track {
      align-items: center;
      width: 180px;
      height: 50px;
      border-radius: 3px;
      margin-bottom: 40px;
      margin-top: 15px;
      font-weight: 600;
  }
}

.main-playlist {
  display: flex;
  flex-direction: column;
}

.tag {
    margin-right: 10px;
    padding: 0 15px;
    background-color: #2b2b2b;
    height: 45px;
    max-width: 150px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
  }

.licensing-info {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__name {
    font-weight: bolder;
    line-height: 45px;
  }

  &__title{
    margin-top:40px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    width: 1114px;
    justify-content: space-between;
  }

  &__box {
    margin-top: 50px;
    max-width: 16.15%;
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    height: 425px;
    position: relative;
  }

  &__price {
    font-size: 48px;
    font-weight: 800;
    line-height: 59px;
  }

  &__file-info {
    font-size: 14px;
    font-weight: 800;
    line-height: 35px;
  }

  & li{
    list-style-type:disc;
    list-style-position: inside;
  }

  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.02em;
    word-spacing: -0.05em;
  }

  &__button {
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    margin-bottom: 40px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
  }

  &__popular {
    margin-top: 30px;
    margin-bottom: 50px;
    padding-top: 40px;
    max-width: 21%;
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    background-color: white;
    color: black;
    align-items: center;
    height: 510px;
    position: relative;
    border-radius: 4px;
    & .licensing-info__button{
      background-color: black;
      color: white;
      width: 75%;
    }

    & .licensing-info__file-info {
      line-height: 20px;
      padding:10px 0;}

    & .licensing-info__li{
      color:black;
    }

    & .licensing-info__text{
      padding: 0 15px;
    }
  }

  &__popular-label {
    position: absolute;
    top: 15px;
    font-weight: bolder;
    & img{padding-right: 3px;}
  }

  &__price-exclusive {
    letter-spacing: -0.1em;
    word-spacing: -0.05em;
    font-size: 25px;
    white-space: nowrap;
    font-weight: 700;
    line-height: 55px;
    transform: scaleY(1.3);
  }
}

.title {
  font-size: 24px;
  font-weight: 700;}

.contact {
  padding-top: 160px;
  padding-bottom: 250px;

  &__container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }

  &__title {
  }

  &__input-informaition {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
  }

  &__first-string {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__button {
    position: relative;
  }

  &__submit-button {
    margin-top: 40px;
    width: 160px;
    height: 45px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    right: 0;
  }
}

.input-name {
  width: 47%;
  @extend %ContactInput;
}

.input-email {
  width: 47%;
  @extend %ContactInput;
}

.input-subject {
  margin-top: 40px;
  @extend %ContactInput;
}

.input-message {
  margin-top: 40px;
  @extend %ContactInput;
}

.footer {
  background-color: #111111;
  height: 300px;
  width: 100%;
  padding: 60px 0 90px;
  display: block;
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &__container{
    display: flex;
  }
  &__logo {
    width: 25%;
    display: flex;
    & span{
      padding-left: 7px;
    }
  }

  &__link {
    display: flex;
    width: 50%;
  }

  &__menu {
    width: 50%;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0.01em;
    & li{
      padding-bottom: 20px;
    }
  }

  &__social-media {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    & a{
      padding-left: 12px;
    }
  }
}