@import "../../scss/Constant";
.faq{
  padding: 110px 0;
  min-height: 100vh;
  &__title{margin-bottom: 30px}
  &__sub-title{margin-bottom: 150px}
  &__slogan{

    text-align: left;
    height: 500px;
    margin: 75px 0 300px 0;
  }
  &__slogan-title{
    text-align: left;
    padding-top: 225px;
    padding-left: 35px;
  }
  &__container{
    position: relative;
    margin: 0 auto;
  }
  &__faq-block-title{margin-bottom: 45px;text-align: left;padding-left:45px}
  &__block{
    width: 100%;
    min-height: 80px;
    text-align: left;
    padding: 15px 15px 15px 25px;
    cursor: pointer;
    position: relative;
    margin-bottom: 50px;
  }
  &__expand{
    position: absolute;
    display: flex;
    align-items: center;
    color: $thirdColor;
    bottom: 0;
    left: 25px;
    cursor: pointer;
    width: 100%;
    & img{width: 24px;}
  }
}
.faq-img{
  height: 500px;
  position: absolute;
  right: 0;
  top: 115px;
}
.block{
  &__answer{padding: 5px 0 30px}
  &__title{margin-bottom: 25px}
}
